@import url("../fonts/stylesheet.css");
* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "OpenRunde";
  color: #f2f2f2;
  font-weight: 500;
  outline: 0;
}

body {
  background: #05060A;
}

h1, h2 {
  font-family: "Pinnacle";
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

a {
  transition: 0.3s;
  text-decoration: none;
}

a:hover {
  color: #2CB764;
  transition: 0.3s;
}

button, .button {
  background: none;
  border: 3px solid #f2f2f2;
  padding: 20px 100px;
  text-align: center;
  outline: none;
  font-family: "Pinnacle";
  font-weight: 700;
}

button:hover, .button:hover {
  border: 3px solid #2CB764;
  transition: 0.3s;
  background: #2CB764;
  color: #f2f2f2;
}

input, textarea {
  border: 1px solid #f2f2f2;
  background: none;
  padding: 20px;
}

input:focus, textarea:focus {
  border: 2px solid #2CB764;
  margin: -1px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #BABABA;
}

input::placeholder, textarea::placeholder {
  color: #BABABA;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_logo_img path {
  transition: 0.3s;
}
.menu_logo_img:hover path {
  fill: #2CB764;
  transition: 0.3s;
}
.menu_list {
  display: flex;
  gap: 40px;
  list-style: none;
}
.menu_list_item_link {
  font-family: "Pinnacle";
  font-weight: 700;
}

main {
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.main_block {
  display: flex;
  align-items: center;
  position: relative;
  gap: 40px;
}
.main_block_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 823px;
  gap: 20px;
}
.main_block_left_subtitle {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "Pinnacle";
}
.main_block_right {
  background: url(../images/Person.png), radial-gradient(50% 50% at 50% 50%, rgba(44, 58, 183, 0.5) 0%, rgba(5, 6, 10, 0) 100%);
  width: 447px;
  height: 447px;
  border: 5px solid #f2f2f2;
  border-radius: 50%;
}
.main_arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}
.main_arrow_img .path {
  transition: 0.3s;
}
.main_arrow_img:hover .path {
  fill: #2CB764;
  transition: 0.3s;
}
.main_ellipse-1 {
  top: -88px;
  left: -142px;
}
.main_ellipse-2 {
  top: -127px;
  left: -164px;
}
.main_ellipse-3 {
  top: -164px;
  left: 50%;
  transform: translateX(-50%);
}
.main_ellipse-4 {
  right: -145px;
  top: 75%;
  transform: translateY(-75%);
}
.main_ellipse-5 {
  right: -209px;
  top: 50%;
  transform: translateY(-50%);
}
.main_ellipse-6 {
  left: -131px;
  bottom: 10px;
}

.ellipse {
  position: absolute;
  z-index: -1;
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}
.arrow_img .path {
  transition: 0.3s;
}
.arrow_img:hover .path {
  fill: #2CB764;
  transition: 0.3s;
}

.switch {
  position: relative;
}
.switch_block {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #f2f2f2;
  position: fixed;
  top: 50%;
  width: 81px;
  align-items: flex-end;
  transform: translateY(-50%);
  z-index: 10;
}
.switch_block_element {
  padding: 15px 10px;
  font-family: "Pinnacle";
  font-weight: 700;
}
.switch_block_border {
  border-right: 2px solid #2CB764;
  height: 52px;
  position: absolute;
  right: -2px;
}

#switch-element0 {
  color: #2CB764;
}

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.about_block {
  display: flex;
  align-items: center;
  position: relative;
  gap: 40px;
}
.about_block_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 700px;
  gap: 20px;
}
.about_block_left_txt {
  width: 578px;
}
.about_block_right {
  width: 578px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about_block_right_bar {
  background: #f2f2f2;
  width: 100%;
  display: flex;
}
.about_block_right_bar_txt {
  background: #2CB764;
  padding: 5px 10px;
  width: 0px;
  font-size: 14px;
  transition: 0.6s;
}
.about_ellipse-1 {
  left: -237px;
  top: -442px;
}
.about_ellipse-2 {
  right: -164px;
  top: 35%;
  transform: translateY(-35%);
}
.about_ellipse-3 {
  right: -285px;
  top: 85%;
  transform: translateY(-85%);
}

.projects {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.projects_block {
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: space-between;
  width: 300%;
  transition: 0.6s;
  align-items: center;
  left: 0;
}
.projects_block_start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}
.projects_block_start_txt {
  width: 577px;
}
.projects_block_item {
  display: flex;
  align-items: center;
  gap: 40px;
}
.projects_block_item_left {
  gap: 40px;
  display: flex;
  flex-direction: column;
  width: 823px;
}
.projects_block_item_left_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projects_block_item_left_buttons {
  display: flex;
  gap: 40px;
}
.projects_block_item_right {
  overflow: hidden;
  border: 3px solid #f2f2f2;
  transition: 0.3s;
}
.projects_block_item_right_img {
  width: 454px;
  height: 454px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.3s;
}
.projects_block_item_right_img:hover {
  transition: 0.3s;
  transform: scale(1.2);
}
.projects_block_item_right_img-v2 {
  width: 454px;
  height: 454px;
  -o-object-fit: contain;
     object-fit: contain;
}
.projects_block_item_right:has(> .projects_block_item_right_img:hover) {
  border: 3px solid #2CB764;
  transition: 0.3s;
}
.projects_block_item_right:has(> .projects_block_item_right_img-v2) {
  border: none;
  transition: none;
}
.projects_slider {
  position: absolute;
  display: flex;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}
.projects_slider_dot {
  width: 20px;
  height: 20px;
  background: #f2f2f2;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s;
}
.projects_slider_dot:first-child {
  margin-left: 0;
}
.projects_slider_dot:last-child {
  margin-right: 0;
}
.projects_ellipse-1 {
  left: -274px;
  top: -343px;
}
.projects_ellipse-2 {
  right: -183px;
  top: 60%;
  transform: translateY(-60%);
}
.projects_ellipse-3 {
  right: -247px;
  top: 7%;
}

.active_dot {
  background: #2C3AB7;
  width: 30px;
  height: 30px;
  margin: 0px;
}

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.contact_form_elements {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact_form_elements_input {
  width: 414px;
}
.contact_form_elements_textarea {
  width: 414px;
  resize: none;
  height: 146px;
}
.contact_ellipse-1 {
  left: -164px;
  top: -236px;
}
.contact_ellipse-2 {
  right: -180px;
  top: 42%;
}
.contact_ellipse-3 {
  right: -323px;
  top: 0;
}
.contact_ellipse-4 {
  left: -142px;
  bottom: 0;
}
.contact_ellipse-5 {
  left: -164px;
  bottom: 3%;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #f2f2f2;
}
.footer * {
  font-family: "Pinnacle";
}
.footer_copyright {
  color: #BABABA;
}
.footer_socials {
  display: flex;
  gap: 40px;
}/*# sourceMappingURL=main.css.map */