@import url("../fonts/stylesheet.css");
* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "OpenRunde";
  color: #f2f2f2;
  font-weight: 500;
}

body {
  background: #05060A;
}

h1, h2 {
  font-family: "Pinnacle";
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

a {
  transition: 0.3s;
  text-decoration: none;
}

a:hover {
  color: #2CB764;
  transition: 0.3s;
}

button, .button {
  background: none;
  border: 3px solid #f2f2f2;
  padding: 20px 100px;
  text-align: center;
  outline: none;
  font-family: "Pinnacle";
  font-weight: 700;
}

button:hover, .button:hover {
  border: 3px solid #2CB764;
  transition: 0.3s;
  background: #2CB764;
  color: #f2f2f2;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_logo_img path {
  transition: 0.3s;
}
.menu_logo_img:hover path {
  fill: #2CB764;
  transition: 0.3s;
}
.menu_list {
  display: flex;
  gap: 40px;
  list-style: none;
}
.menu_list_item_link {
  font-family: "Pinnacle";
  font-weight: 700;
}

main {
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.main_block {
  display: flex;
  align-items: center;
  position: relative;
  gap: 40px;
}
.main_block_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 823px;
  gap: 20px;
}
.main_block_left_subtitle {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "Pinnacle";
}
.main_block_right {
  background: url(../images/Person.png), radial-gradient(50% 50% at 50% 50%, rgba(44, 58, 183, 0.5) 0%, rgba(5, 6, 10, 0) 100%);
  width: 447px;
  height: 447px;
  border: 5px solid #f2f2f2;
  border-radius: 50%;
}
.main_arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}
.main_arrow_img .path {
  transition: 0.3s;
}
.main_arrow_img:hover .path {
  fill: #2CB764;
  transition: 0.3s;
}
.main_ellipse-1 {
  top: -88px;
  left: -142px;
}
.main_ellipse-2 {
  top: -127px;
  left: -164px;
}
.main_ellipse-3 {
  top: -164px;
  left: 50%;
  transform: translateX(-50%);
}
.main_ellipse-4 {
  right: -145px;
  top: 75%;
  transform: translateY(-75%);
}
.main_ellipse-5 {
  right: -209px;
  top: 50%;
  transform: translateY(-50%);
}
.main_ellipse-6 {
  left: -131px;
  bottom: 10px;
}
.main_ellipse-7 {
  left: -237px;
  top: -442px;
}

.ellipse {
  position: absolute;
  z-index: -1;
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}
.arrow_img .path {
  transition: 0.3s;
}
.arrow_img:hover .path {
  fill: #2CB764;
  transition: 0.3s;
}

.switch {
  position: relative;
}
.switch_block {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #f2f2f2;
  position: fixed;
  top: 50%;
  width: 81px;
  align-items: flex-end;
  transform: translateY(-50%);
  z-index: 10;
}
.switch_block_element {
  padding: 15px 10px;
  font-family: "Pinnacle";
  font-weight: 700;
}
.switch_block_border {
  border-right: 2px solid #2CB764;
  height: 52px;
  position: absolute;
  right: -2px;
}

#switch-element0 {
  color: #2CB764;
}

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.about_block {
  display: flex;
  align-items: center;
  position: relative;
  gap: 40px;
}
.about_block_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 700px;
  gap: 20px;
}
.about_block_left_txt {
  width: 578px;
}
.about_block_right {
  width: 578px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about_block_right_bar {
  background: #f2f2f2;
  width: 100%;
  display: flex;
}
.about_block_right_bar_txt {
  background: #2CB764;
  padding: 5px 10px;
  width: 0px;
}
.about_ellipse-1 {
  top: -88px;
  left: -142px;
}
.about_ellipse-2 {
  top: -127px;
  left: -164px;
}
.about_ellipse-3 {
  top: -164px;
  left: 50%;
  transform: translateX(-50%);
}
.about_ellipse-4 {
  right: -145px;
  top: 75%;
  transform: translateY(-75%);
}
.about_ellipse-5 {
  right: -209px;
  top: 50%;
  transform: translateY(-50%);
}
.about_ellipse-6 {
  left: -131px;
  bottom: 10px;
}
.about_ellipse-7 {
  left: -237px;
  top: -442px;
}

.projects {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.projects_block {
  display: flex;
  position: relative;
}
.projects_block_start {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  text-align: center;
}
.projects_block_start_txt {
  width: 577px;
}
.projects_slider {
  position: absolute;
  display: flex;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}
.projects_slider_dot {
  width: 20px;
  height: 20px;
  background: #f2f2f2;
  border-radius: 50%;
  margin-right: 20px;
}
.projects_slider_dot:last-child {
  margin-right: 0;
}

#slider_dot-1 {
  background: #2C3AB7;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */