@import url('../fonts/stylesheet.css');

$white: #f2f2f2;
$black: #05060A;
$grey: #BABABA;
$green: #2CB764;
$blue: #2C3AB7;

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "OpenRunde";
    color: $white;
    font-weight: 500;
    outline: 0;
}

body {
    background: $black;
}

h1, h2 {
    font-family: "Pinnacle";
    font-weight: 700;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

a {
    transition: 0.3s;
    text-decoration: none;
}

a:hover {
    color: $green;
    transition: 0.3s;
}

button, .button {
    background: none;
    border: 3px solid $white;
    padding: 20px 100px;
    text-align: center;
    outline: none;
    font-family: "Pinnacle";
    font-weight: 700;
}

button:hover, .button:hover {
    border: 3px solid $green;
    transition: 0.3s;
    background: $green;
    color: $white;
}

input, textarea {
    border: 1px solid $white;
    background: none;
    padding: 20px;
}

input:focus, textarea:focus {
    border: 2px solid $green;
    margin: -1px;
}

input::placeholder, textarea::placeholder {
    color: $grey;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo {
        &_img {
            path {
                transition: 0.3s;
            }
        }
        &_img:hover {
            path {
                fill: $green;
                transition: 0.3s;
            }
        }
    }
    &_list {
        display: flex;
        gap: 40px;
        list-style: none;
        &_item {
            &_link {
                font-family: "Pinnacle";
                font-weight: 700;
            }
        }
    }
}

main {
    overflow: hidden;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    &_block {
        display: flex;
        align-items: center;
        position: relative;
        gap: 40px;
        &_left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 823px;
            gap: 20px;
            &_subtitle {
                font-size: 32px;
                margin-bottom: 20px;
                font-family: "Pinnacle";
            }
        }
        &_right {
            background: url(../images/Person.png), radial-gradient(50% 50% at 50% 50%, rgba(44, 58, 183, 50%) 0%, rgba(5, 6, 10, 0%) 100%);
            width: 447px;
            height: 447px;
            border: 5px solid $white;
            border-radius: 50%;
        }
    }
    &_arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 100px;
        &_img {
            .path {
                transition: 0.3s;
            }
        }
        &_img:hover{
            .path {
                fill: $green;
                transition: 0.3s;
            }
        }
    }
    &_ellipse-1 {
        top: -88px;
        left: -142px;
    }
    &_ellipse-2 {
        top: -127px;
        left: -164px;
    }
    &_ellipse-3 {
        top: -164px;
        left: 50%;
        transform: translateX(-50%);
    }
    &_ellipse-4 {
        right: -145px;
        top: 75%;
        transform: translateY(-75%);
    }
    &_ellipse-5 {
        right: -209px;
        top: 50%;
        transform: translateY(-50%);
    }
    &_ellipse-6 {
        left: -131px;
        bottom: 10px;
    }
}

.ellipse {
    position: absolute;
    z-index: -1;
}

.arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    &_img {
        .path {
            transition: 0.3s;
        }
    }
    &_img:hover{
        .path {
            fill: $green;
            transition: 0.3s;
        }
    }
}

.switch {
    position: relative;
    &_block {
        display: flex;
        flex-direction: column;
        border-right: 2px solid $white;
        position: fixed;
        top: 50%;
        width: 81px;
        align-items: flex-end;
        transform: translateY(-50%);
        z-index: 10;
        &_element {
            padding: 15px 10px;
            font-family: "Pinnacle";
            font-weight: 700;
        }
        &_border {
            border-right: 2px solid $green;
            height: 52px;
            position: absolute;
            right: -2px;
        }
    }
}

#switch-element0 {
    color: $green;
}

.about {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    &_block {
        display: flex;
        align-items: center;
        position: relative;
        gap: 40px;
        &_left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 700px;;
            gap: 20px;
            &_txt {
                width: 578px;
            }
        }
        &_right {
            width: 578px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            &_bar {
                background: $white;
                width: 100%;
                display: flex;
                &_txt {
                    background: $green;
                    padding: 5px 10px;
                    width: 0px;
                    font-size: 14px;
                    transition: 0.6s;
                }
            }
        }
    }
    &_ellipse-1 {
        left: -237px;
        top: -442px;
    }
    &_ellipse-2 {
        right: -164px;
        top: 35%;
        transform: translateY(-35%);
    }
    &_ellipse-3 {
        right: -285px;
        top: 85%;
        transform: translateY(-85%);
    }
}

.projects {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    &_block {
        display: flex;
        position: absolute;
        overflow: hidden;
        justify-content: space-between;
        width: 300%;
        transition: 0.6s;
        align-items: center;
        left: 0;
        &_start {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            text-align: center;
            &_txt {
                width: 577px;
            }
        }
        &_item {
            display: flex;
            align-items: center;
            gap: 40px;
            &_left {
                gap: 40px;
                display: flex;
                flex-direction: column;
                width: 823px;
                &_text {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                &_buttons {
                    display: flex;
                    gap: 40px;
                }
            }
            &_right {
                overflow: hidden;
                border: 3px solid $white;
                transition: 0.3s;
                &_img {
                    width: 454px;
                    height: 454px;
                    object-fit: contain;
                    transition: 0.3s;
                }
                &_img:hover {
                    transition: 0.3s;
                    transform: scale(1.2);
                }
                &_img-v2 {
                    width: 454px;
                    height: 454px;
                    object-fit: contain;
                    //удалить потом
                }
            }
            &_right:has(> .projects_block_item_right_img:hover) {
                border: 3px solid $green;
                transition: 0.3s;
            }
            &_right:has(> .projects_block_item_right_img-v2) {
                border: none;
                transition: none;
                //удалить потом
            }
        }
    }
    &_slider {
        position: absolute;
        display: flex;
        bottom: 150px;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        &_dot {
            width: 20px;
            height: 20px;
            background: $white;
            border-radius: 50%;
            margin: 0 10px;
            cursor: pointer;
            transition: 0.3s;
        }
        &_dot:first-child {
            margin-left: 0;
        }
        &_dot:last-child {
            margin-right: 0;
        }
    }
    &_ellipse-1 {
        left: -274px;
        top: -343px;
    }
    &_ellipse-2 {
        right: -183px;
        top: 60%;
        transform: translateY(-60%);
    }
    &_ellipse-3 {
        right: -247px;
        top: 7%;
    }
}

.active_dot {
    background: $blue;
    width: 30px;
    height: 30px;
    margin: 0px
}

.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    &_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        &_elements {
            display: flex;
            flex-direction: column;
            gap: 20px;
            &_input {
                width: 414px;
            }
            &_textarea {
                width: 414px;
                resize: none;
                height: 146px;
            }
        }
    }
    &_ellipse-1 {
        left: -164px;
        top: -236px;
    }
    &_ellipse-2 {
        right: -180px;
        top: 42%;
    }
    &_ellipse-3 {
        right: -323px;
        top: 0;
    }
    &_ellipse-4 {
        left: -142px;
        bottom: 0;
    }
    &_ellipse-5 {
        left: -164px;
        bottom: 3%;
    }
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid $white;
    * {
        font-family: 'Pinnacle';
    }
    &_copyright {
        color: $grey;
    }
    &_socials {
        display: flex;
        gap: 40px;
    }
}
