@import url("../fonts/stylesheet.css");
* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "OpenRunde";
  color: #f2f2f2;
  font-weight: 500;
  outline: 0;
}

body {
  background: #05060A;
}

h1, h2 {
  font-family: "Pinnacle";
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

a {
  transition: 0.3s;
  text-decoration: none;
}

a:hover {
  color: #2CB764;
  transition: 0.3s;
}

button, .button {
  background: none;
  border: 3px solid #f2f2f2;
  padding: 20px 100px;
  text-align: center;
  outline: none;
  font-family: "Pinnacle";
  font-weight: 700;
  cursor: pointer;
}

button:hover, .button:hover {
  border: 3px solid #2CB764;
  transition: 0.3s;
  background: #2CB764;
  color: #f2f2f2;
}

input, textarea {
  border: 1px solid #f2f2f2;
  background: none;
  padding: 20px;
}

input:focus, textarea:focus {
  border: 2px solid #2CB764;
  margin: -1px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #BABABA;
}

input::placeholder, textarea::placeholder {
  color: #BABABA;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

bold {
  font-weight: 700;
}

.header_block_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_block_menu_logo {
  z-index: 1;
}
.header_block_menu_logo_img path {
  transition: 0.3s;
}
.header_block_menu_logo_img:hover path {
  fill: #2CB764;
  transition: 0.3s;
}
.header_block_menu_list {
  display: flex;
  gap: 40px;
  list-style: none;
}
.header_block_menu_list_item_link {
  font-family: "Pinnacle";
  font-weight: 700;
}
.header_block_menu_burger {
  display: none;
  width: 30px;
  height: 22px;
  background: url(../images/burger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.header_block_menu_close {
  display: none;
  width: 22px;
  height: 22px;
  background: url(../images/cross.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.header_block_menu_mobile {
  display: none;
  left: 0;
  top: -15px;
  background: #05060A;
  width: 100vw;
  height: 100vh;
  position: fixed;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-100%);
  opacity: 0;
  overflow: hidden;
}
.header_block_menu_mobile_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  list-style: none;
}
.header_block_menu_mobile_list_item_link {
  font-size: 36px;
  font-family: "Pinnacle";
  transition: 0.3s;
}
.header_block_menu_mobile_list_item:hover {
  color: #2CB764;
  transition: 0.3s;
}
.header_block_menu_mobile-active {
  transform: translateY(0);
  opacity: 1;
}

@keyframes showBurger {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
main {
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.main_block {
  display: flex;
  align-items: center;
  position: relative;
  gap: 40px;
}
.main_block_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 823px;
  gap: 20px;
}
.main_block_left_subtitle {
  font-size: 32px;
  margin-bottom: 20px;
}
.main_block_right {
  background: url(../images/Person.png), radial-gradient(50% 50% at 50% 50%, rgba(44, 58, 183, 0.5) 0%, rgba(5, 6, 10, 0) 100%);
  width: 447px;
  height: 447px;
  border: 5px solid #f2f2f2;
  border-radius: 50%;
  background-size: contain;
}
.main_ellipse-1 {
  top: -8vh;
  left: -7vw;
  width: 17vw;
}
.main_ellipse-2 {
  top: -12vh;
  left: -9vw;
  width: 17vw;
}
.main_ellipse-3 {
  top: -15vh;
  left: 50%;
  transform: translateX(-50%);
  width: 17vw;
}
.main_ellipse-4 {
  right: -8vw;
  top: 54vh;
  width: 17vw;
}
.main_ellipse-5 {
  right: -11vw;
  top: 50%;
  transform: translateY(-50%);
  width: 33vw;
}
.main_ellipse-6 {
  left: -7vw;
  bottom: 1vh;
  width: 17vw;
}

.ellipse {
  position: absolute;
  z-index: -1;
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}
.arrow_img .path {
  transition: 0.3s;
}
.arrow_img:hover .path {
  fill: #2CB764;
  transition: 0.3s;
}

.switch {
  position: relative;
}
.switch_block {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #f2f2f2;
  position: fixed;
  top: 50%;
  width: 81px;
  align-items: flex-end;
  transform: translateY(-50%);
  z-index: 10;
}
.switch_block_element {
  padding: 15px 10px;
  font-family: "Pinnacle";
  font-weight: 700;
}
.switch_block_border {
  border-right: 2px solid #2CB764;
  height: 52px;
  position: absolute;
  right: -2px;
  transition: 0.6s;
}

.active_element {
  color: #2CB764;
}

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.about_block {
  display: flex;
  align-items: center;
  position: relative;
  gap: 40px;
}
.about_block_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 700px;
  gap: 40px;
}
.about_block_left_txt {
  width: 578px;
}
.about_block_right {
  width: 578px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about_block_right_bar {
  background: #f2f2f2;
  width: 100%;
  display: flex;
}
.about_block_right_bar_txt {
  background: #2CB764;
  padding: 5px 10px;
  width: 0px;
  font-size: 14px;
  transition: 0.6s;
}
.about_ellipse-1 {
  left: -12vw;
  top: -41vh;
  width: 37vw;
}
.about_ellipse-2 {
  right: -9vw;
  top: 24vh;
  width: 17vw;
}
.about_ellipse-3 {
  right: -15vw;
  top: 27vh;
  width: 37vw;
}

.projects {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.projects_block {
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: space-between;
  width: 300%;
  transition: 0.6s;
  align-items: center;
  left: 0;
}
.projects_block_start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}
.projects_block_start_txt {
  width: 577px;
}
.projects_block_item {
  display: flex;
  align-items: center;
  gap: 40px;
}
.projects_block_item_left {
  gap: 40px;
  display: flex;
  flex-direction: column;
  width: 823px;
}
.projects_block_item_left_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projects_block_item_left_buttons {
  display: flex;
  gap: 40px;
}
.projects_block_item_right {
  overflow: hidden;
  border: 3px solid #f2f2f2;
  transition: 0.3s;
}
.projects_block_item_right_img {
  width: 454px;
  height: 454px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.3s;
}
.projects_block_item_right_img:hover {
  transition: 0.3s;
  transform: scale(1.2);
}
.projects_block_item_right_img-v2 {
  width: 454px;
  height: 454px;
  -o-object-fit: contain;
     object-fit: contain;
}
.projects_block_item_right:has(> .projects_block_item_right_img:hover) {
  border: 3px solid #2CB764;
  transition: 0.3s;
}
.projects_block_item_right:has(> .projects_block_item_right_img-v2) {
  border: none;
  transition: none;
}
.projects_slider {
  position: absolute;
  display: flex;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}
.projects_slider_dot {
  width: 20px;
  height: 20px;
  background: #f2f2f2;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s;
}
.projects_slider_dot:first-child {
  margin-left: 0;
}
.projects_slider_dot:last-child {
  margin-right: 0;
}
.projects_ellipse-1 {
  left: -14vw;
  top: -32vh;
  width: 33vw;
}
.projects_ellipse-2 {
  right: -10vw;
  top: 39vh;
  width: 17vw;
}
.projects_ellipse-3 {
  right: -13vw;
  top: 6vh;
  width: 33vw;
}

.active_dot {
  background: #2C3AB7;
  width: 30px;
  height: 30px;
  margin: 0px;
}

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
}
.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.contact_form_elements {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact_form_elements_input {
  width: 414px;
}
.contact_form_elements_textarea {
  width: 414px;
  resize: none;
  height: 146px;
}
.contact_form_btn {
  width: 456px;
}
.contact_ellipse-1 {
  left: -9vw;
  top: -22vh;
  width: 17vw;
}
.contact_ellipse-2 {
  right: -9vw;
  top: 42vh;
  width: 17vw;
}
.contact_ellipse-3 {
  right: -17vw;
  top: 0;
  width: 37vw;
}
.contact_ellipse-4 {
  left: -7vw;
  bottom: 0;
  width: 17vw;
}
.contact_ellipse-5 {
  left: -9vw;
  bottom: 4vh;
  width: 17vw;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #f2f2f2;
}
.footer * {
  font-family: "Pinnacle";
}
.footer_copyright {
  color: #BABABA;
}
.footer_socials {
  display: flex;
  gap: 40px;
}

@media (min-width: 1200px) and (max-width: 1679px) {
  * {
    font-size: 16px;
  }
  .container {
    max-width: 1120px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  button, .button {
    padding: 15px 100px;
  }
  input, textarea {
    padding: 15px;
  }
  .main_block_left {
    width: 637px;
  }
  .main_block_right {
    width: 335px;
    height: 335px;
  }
  .switch_block {
    width: 57px;
  }
  .about_block_left {
    width: 540px;
  }
  .about_block_left_txt {
    width: 540px;
  }
  .about_block_right {
    width: 443px;
  }
  .projects_block_start_txt {
    width: 540px;
  }
  .projects_block_item_left {
    width: 637px;
  }
  .projects_block_item_right_img {
    width: 345px;
    height: 345px;
  }
  .projects_block_item_right_img-v2 {
    width: 345px;
    height: 345px;
  }
  .contact_form_elements_input {
    width: 314px;
  }
  .contact_form_elements_textarea {
    width: 314px;
    height: 126px;
  }
  .contact_form_btn {
    width: 346px;
    padding: 15px 50px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  * {
    font-size: 16px;
  }
  .container {
    max-width: 738px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  button, .button {
    padding: 15px 100px;
  }
  input, textarea {
    padding: 15px;
  }
  .main_block {
    flex-direction: column-reverse;
  }
  .main_block_left {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .main_block_right {
    width: 339px;
    height: 339px;
  }
  .main_arrow > .arrow_img {
    width: 0;
    height: 0;
  }
  .main_ellipse-1 {
    top: -6.4vh;
    left: -14vw;
    width: 34vw;
  }
  .main_ellipse-2 {
    top: -9.6vh;
    left: -18vw;
    width: 34vw;
  }
  .main_ellipse-3 {
    top: -12vh;
    left: 50%;
    transform: translateX(-50%);
    width: 34vw;
  }
  .main_ellipse-4 {
    right: -16vw;
    top: 43.2vh;
    width: 34vw;
  }
  .main_ellipse-5 {
    right: -22vw;
    top: 50%;
    transform: translateY(-50%);
    width: 66vw;
  }
  .main_ellipse-6 {
    left: -14vw;
    bottom: 0.8vh;
    width: 34vw;
  }
  .switch {
    display: none;
  }
  .about_block {
    flex-direction: column;
  }
  .about_block_left {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .about_block_left_txt {
    width: 100%;
  }
  .about_block_right {
    width: 100%;
  }
  .about_ellipse-1 {
    left: -24vw;
    top: -32.8vh;
    width: 74vw;
  }
  .about_ellipse-2 {
    right: -18vw;
    top: 19.2vh;
    width: 34vw;
  }
  .about_ellipse-3 {
    right: -30vw;
    top: 21.6vh;
    width: 74vw;
  }
  .projects_block_start_txt {
    width: 478px;
  }
  .projects_block_item_left {
    width: 345px;
  }
  .projects_block_item_left_buttons_btn {
    padding: 15px 85px;
    width: 100%;
  }
  .projects_block_item_right_img {
    width: 345px;
    height: 345px;
  }
  .projects_block_item_right_img-v2 {
    width: 345px;
    height: 345px;
  }
  .projects_ellipse-1 {
    left: -28vw;
    top: -25.6vh;
    width: 66vw;
  }
  .projects_ellipse-2 {
    right: -20vw;
    top: 31.2vh;
    width: 34vw;
  }
  .projects_ellipse-3 {
    right: -26vw;
    top: 4.8vh;
    width: 66vw;
  }
  .contact_form_elements_input {
    width: 313px;
  }
  .contact_form_elements_textarea {
    width: 313px;
    height: 126px;
  }
  .contact_form_btn {
    width: 345px;
    padding: 15px 50px;
  }
  .contact_ellipse-1 {
    left: -18vw;
    top: -17.6vh;
    width: 34vw;
  }
  .contact_ellipse-2 {
    right: -18vw;
    top: 33.6vh;
    width: 34vw;
  }
  .contact_ellipse-3 {
    right: -34vw;
    top: 0;
    width: 74vw;
  }
  .contact_ellipse-4 {
    left: -14vw;
    bottom: 0;
    width: 34vw;
  }
  .contact_ellipse-5 {
    left: -18vw;
    bottom: 3.2vh;
    width: 34vw;
  }
  .footer_copyright {
    width: 260px;
  }
}
@media (max-width: 767px) {
  * {
    font-size: 14px;
  }
  .container {
    width: calc(100vw - 30px);
    padding: 0 15px;
  }
  header {
    top: 15px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  button, .button {
    padding: 15px 70px;
  }
  input, textarea {
    padding: 15px;
  }
  .header_block_menu_logo {
    height: 23px;
  }
  .header_block_menu_logo svg {
    height: 23px;
    width: auto;
  }
  .header_block_menu_mobile {
    display: flex;
  }
  .header_block_menu_list {
    display: none;
  }
  .header_block_menu_burger {
    display: block;
  }
  .main_block {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .main_block_left {
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .main_block_left_subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .main_block_right {
    width: 260px;
    height: 260px;
  }
  .main_arrow > .arrow_img {
    width: 0;
    height: 0;
  }
  .main_ellipse-1 {
    top: -6.4vh;
    left: -14vw;
    width: 34vw;
  }
  .main_ellipse-2 {
    top: -9.6vh;
    left: -18vw;
    width: 34vw;
  }
  .main_ellipse-3 {
    top: -12vh;
    left: 50%;
    transform: translateX(-50%);
    width: 34vw;
  }
  .main_ellipse-4 {
    right: -16vw;
    top: 43.2vh;
    width: 34vw;
  }
  .main_ellipse-5 {
    right: -22vw;
    top: 50%;
    transform: translateY(-50%);
    width: 66vw;
  }
  .main_ellipse-6 {
    left: -14vw;
    bottom: 0.8vh;
    width: 34vw;
  }
  .arrow {
    display: none;
  }
  .switch {
    display: none;
  }
  .about_block {
    flex-direction: column;
    gap: 20px;
  }
  .about_block_left {
    gap: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .about_block_left_txt {
    width: 100%;
    text-align: left;
  }
  .about_block_right {
    width: 100%;
    gap: 10px;
  }
  .about_block_right_bar_txt {
    font-size: 12px;
  }
  .about_ellipse-1 {
    left: -24vw;
    top: -32.8vh;
    width: 74vw;
  }
  .about_ellipse-2 {
    right: -18vw;
    top: 19.2vh;
    width: 34vw;
  }
  .about_ellipse-3 {
    right: -30vw;
    top: 21.6vh;
    width: 74vw;
  }
  .projects_block_start_txt {
    width: 100%;
  }
  .projects_block_item {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .projects_block_item_left {
    gap: 20px;
    width: 100%;
  }
  .projects_block_item_left_buttons_btn {
    width: 100%;
  }
  .projects_block_item_right_img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }
  .projects_block_item_right_img-v2 {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }
  .projects_slider {
    bottom: 10px;
  }
  .projects_ellipse-1 {
    left: -28vw;
    top: -25.6vh;
    width: 66vw;
  }
  .projects_ellipse-2 {
    right: -20vw;
    top: 31.2vh;
    width: 34vw;
  }
  .projects_ellipse-3 {
    right: -26vw;
    top: 4.8vh;
    width: 66vw;
  }
  .contact_form {
    gap: 20px;
  }
  .contact_form_elements {
    gap: 10px;
    width: 100%;
  }
  .contact_form_elements_input {
    width: auto;
  }
  .contact_form_elements_textarea {
    width: auto;
    height: 126px;
  }
  .contact_form_btn {
    width: 100%;
    padding: 15px 50px;
  }
  .contact_ellipse-1 {
    left: -18vw;
    top: -17.6vh;
    width: 34vw;
  }
  .contact_ellipse-2 {
    right: -18vw;
    top: 33.6vh;
    width: 34vw;
  }
  .contact_ellipse-3 {
    right: -34vw;
    top: 0;
    width: 74vw;
  }
  .contact_ellipse-4 {
    left: -14vw;
    bottom: 0;
    width: 34vw;
  }
  .contact_ellipse-5 {
    left: -18vw;
    bottom: 3.2vh;
    width: 34vw;
  }
  .footer {
    position: relative;
    flex-direction: column-reverse;
    padding: 15px;
    gap: 20px;
    text-align: center;
  }
  .footer_copyright {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */